body{
	background-color: #FFCC99;
	color:#666666;
	font-size: 14px;
	text-align: center;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴ>シック", "MS PGothic", sans-serif;
	padding: 0;
	margin: 0;
}

}
a{
  color:#0099FF;
}
a:link {
  color: #0099FF;
  text-decoration: underline;
}

a:visited {
  color: #33AAFF;
  border:none;
  text-decoration: underline;
}

a:hover {
  color:#FF9900;
  border:none;
  text-decoration: underline;
}


h1{
	border-bottom: 2px solid #999999;
	border-left: 2px solid #999999;
	padding-left:10px;
}
h2{
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	padding-left:10px;
}
div.code{

}

div.code pre{
	border: 1px solid #999999;
	-moz-border-radius: 5px; /* for Fx */
	-webkit-border-radius: 5px; /* for Safari */
	font-size: small;
	padding : 10px 10px;
	background-color:#666666;
	color: #FFCCCC;	
}

.wrapper {
	float:left; 
	height:50%; 
}
.content {
	clear:both;
	position:relative;
	margin-left:15%;
	margin-right:15%;
	margin-top:3%;
	padding:20px 20px;
	width:70%;
	text-align:left;
	background-color:#FFFFFF;
	border: 2px dashed #999999;
	-moz-border-radius: 7px; /* for Fx */
	-webkit-border-radius: 7px; /* for Safari */

}